/* TSOS.css */

body {
  background: #909193 url(distrib/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #002d75;
  color: white;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  cursor: default;
}

#divCentral {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  display: block;
}

#divCentral > div{
  float:left;
  padding: 10px;
}

#divTaskBar {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
}

#PCBFooter {
  text-align: center;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
